<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Iksula_Orderreturns::parent" title="Orderreturns" sortOrder="11">
						<resource id="Iksula_Orderreturns::returnreason" title="Order Return Reason" sortOrder="11" />
						<resource id="Iksula_Orderreturns::orderreturn" title="Order Return Grid" sortOrder="11" />
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Iksula_Orderreturns::config_iksula_orderreturns" title="orderreturns"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
