<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
                <network>
                <active>1</active>
                <title>Network</title>
                <order_status>pending_payment</order_status>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>Iksula\Networkonlinepayment\Model\Network</model>
                <production_url>https://NeO.network.ae/direcpay/secure/PaymentTxnServlet</production_url>
                <!-- <production_url backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <sandbox_url>https://uat-NeO.network.ae/direcpay/secure/PaymentTxnServlet</sandbox_url>
                <!-- <sandbox_url backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <environment>sandbox</environment>
                <!-- <environment backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <account_type>network</account_type>
                <redirect_url>network/standard/redirect</redirect_url>
                <return_url>network/standard/response</return_url>
                <cancel_url>network/standard/cancel</cancel_url>
                <merchantKey backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <merchantId backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <group>offline</group>
            </network>
        </payment>
    </default>
</config>
