<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Iksula_Feedback::parent" title="Feedback" module="Iksula_Feedback" sortOrder="100" resource="Iksula_Feedback::parent"/>
		<add id="Iksula_Feedback::feedback" title="Iksula Feedback" module="Iksula_Feedback" sortOrder="20" parent="Iksula_Feedback::parent" action="feedback/feedback" resource="Iksula_Feedback::feedback"/>

    </menu>
</config>