<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Iksula_Checkoutcustomization::parent" title="Checkoutcustomization" module="Iksula_Checkoutcustomization" sortOrder="100" resource="Iksula_Checkoutcustomization::parent"/>
		<add id="Iksula_Checkoutcustomization::chequedetails" title="Iksula Checkoutcustomization" module="Iksula_Checkoutcustomization" sortOrder="20" parent="Iksula_Checkoutcustomization::parent" action="checkoutcustomization/chequedetails" resource="Iksula_Checkoutcustomization::chequedetails"/>

    </menu>
</config>